.text h3 {
    overflow: hidden;
    height: 50px;
    max-width: 200px;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
    span:nth-child(1) {
      color: red;
    }
    @media screen and (max-width: 768px) {
      max-width: unset;
      height: 25px;
      margin-bottom: -2px;
    }
}
